/** @format */

.container {
	display: flex;
	align-items: center;
	width: 90%;
	height: 70vh;
	position: relative;
	padding-top: 100px;
	margin: 0 auto;
}
.playerSide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: #fff;
	padding: 50px;
	border-radius: 5px;
}

.activePlayerSide {
	background-color: #f4fd5084;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 50px;
	border-radius: 5px;
	animation: activePlayer 1s ease-in-out;
}
.playerName {
	text-align: center;
	font-size: 120%;
	letter-spacing: 2px;
}

.score {
	text-align: center;
	font-size: 400%;
	color: #39ff14;
	text-shadow: 2px 2px 2px #7a2929;
}

.middle {
	display: flex;
	flex-direction: column;
	height: 15%;
	position: absolute;
	justify-content: flex-end;
	left: 50%;
	transform: translate(-50%);
}

.active {
	background-color: #f7f7f7;
}

.active .player-name {
	font-weight: 600;
}

.playerName > p::after {
	content: '\2022';
	color: #ff1f41;
	margin-left: 0px;
	font-size: 170%;
	vertical-align: middle;
	text-shadow: 2px 2px 2px #7a2929;

	-webkit-animation: flickerAnimation 1.3s infinite;
	-moz-animation: flickerAnimation 1.3s infinite;
	-o-animation: flickerAnimation 1.3s infinite;
	animation: flickerAnimation 1.3s infinite;
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes activePlayer {
	0% {
		background-color: #fff;
	}
	50% {
		background-color: #f4fd5084;
	}
	100% {
		background-color: #f4fd5084;
	}
}

.playerContainer {
	position: relative;
}

.heading {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.underline {
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
	transition: transform 0.5s ease-out;
	transform: scaleX(0);
	transform-origin: left;
}

.underlineActive {
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
	transition: transform 0.5s ease-out;
	transform: scaleX(1);
	transform-origin: left;
}

.scoreContainer {
	height: 50px;
	font-size: xx-large;
}
