/** @format */
.scene {
	width: 150px;
	height: 150px;
	margin: 20px auto;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.cube {
	width: 150px;
	height: 150px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	margin-bottom: 25%;
}

.cube__face {
	position: absolute;
	width: 150px;
	height: 150px;
	line-height: 150px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border-radius: 20px;
}

.cube__face1,
.cube__face2,
.cube__face3,
.cube__face4,
.cube__face5,
.cube__face6 {
	background: black;
}

.cube__face1 {
	transform: rotateY(0deg) translateZ(70px);
}

.cube__face2 {
	transform: rotateY(180deg) translateZ(70px);
}

.cube__face3 {
	transform: rotateY(90deg) translateZ(70px);
}

.cube__face4 {
	transform: rotateY(-90deg) translateZ(70px);
}

.cube__face5 {
	transform: rotateX(90deg) translateZ(70px);
}

.cube__face6 {
	transform: rotateX(-90deg) translateZ(70px);
}

.cube.show1 {
	transform: translateZ(-100px) rotateY(0deg);
}

.cube.show2 {
	transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show3 {
	transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show4 {
	transform: translateZ(-100px) rotateY(90deg);
}

.cube.show5 {
	transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show6 {
	transform: translateZ(-100px) rotateX(90deg);
}

.btn-roll {
	width: 150px;
	background: none;
	color: #555;
	border: none;
	font-size: 100%;
	cursor: pointer;
	font-weight: 300;
	text-transform: uppercase;
	transition: 0.2s;
	display: block;
	margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.scene,
	.cube,
	.cube__face {
		width: 120px;
		height: 120px;
		margin: 0;
	}

	.btn-roll {
		height: auto;
		width: auto;
	}

	.scene {
		margin: 0 auto;
	}

	.cube__face {
		line-height: 120px;
		font-size: 32px;
	}

	.cube__face1 {
		transform: rotateY(0deg) translateZ(56px);
	}

	.cube__face2 {
		transform: rotateY(180deg) translateZ(56px);
	}

	.cube__face3 {
		transform: rotateY(90deg) translateZ(56px);
	}

	.cube__face4 {
		transform: rotateY(-90deg) translateZ(56px);
	}

	.cube__face5 {
		transform: rotateX(90deg) translateZ(56px);
	}

	.cube__face6 {
		transform: rotateX(-90deg) translateZ(56px);
	}

	.cube.show1 {
		transform: translateZ(-80px) rotateY(0deg);
	}

	.cube.show2 {
		transform: translateZ(-80px) rotateY(-180deg);
	}

	.cube.show3 {
		transform: translateZ(-80px) rotateY(-90deg);
	}

	.cube.show4 {
		transform: translateZ(-80px) rotateY(90deg);
	}

	.cube.show5 {
		transform: translateZ(-80px) rotateX(-90deg);
	}

	.cube.show6 {
		transform: translateZ(-80px) rotateX(90deg);
	}
}

@media (max-width: 480px) {
	.scene,
	.cube,
	.cube__face {
		width: 100px;
		height: 100px;
	}

	.btn-roll {
		width: auto;
		height: auto;
		margin-top: 2px;
		padding: 2px;
	}
	.cube__face {
		line-height: 100px;
		font-size: 28px;
	}

	.cube__face1 {
		transform: rotateY(0deg) translateZ(47px);
	}

	.cube__face2 {
		transform: rotateY(180deg) translateZ(47px);
	}

	.cube__face3 {
		transform: rotateY(90deg) translateZ(47px);
	}

	.cube__face4 {
		transform: rotateY(-90deg) translateZ(47px);
	}

	.cube__face5 {
		transform: rotateX(90deg) translateZ(47px);
	}

	.cube__face6 {
		transform: rotateX(-90deg) translateZ(47px);
	}

	.cube.show1 {
		transform: translateZ(-67px) rotateY(0deg);
	}

	.cube.show2 {
		transform: translateZ(-67px) rotateY(-180deg);
	}

	.cube.show3 {
		transform: translateZ(-67px) rotateY(-90deg);
	}

	.cube.show4 {
		transform: translateZ(-67px) rotateY(90deg);
	}

	.cube.show5 {
		transform: translateZ(-67px) rotateX(-90deg);
	}

	.cube.show6 {
		transform: translateZ(-67px) rotateX(90deg);
	}
}
