/** @format */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.button {
	flex: 0 0 calc(50% - 10px);
	max-width: calc(50% - 10px);
	text-align: center;
	margin: 5px;
}

@media (max-width: 768px) {
	.button {
		flex: 0 0 calc(100% - 10px);
		max-width: calc(100% - 10px);
	}
}
