/** @format */

body {
	background: linear-gradient(
		45deg,
		#b4ff00,
		#ecf459,
		#fc8d1d,
		#ff3c3c,
		#00e5ff,
		#ffffff
	);
	background-size: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	animation: gradient 15s ease infinite;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
